<div id="header">
    <mat-list>
        <mat-list-item>{{headerContent}}</mat-list-item>
    </mat-list>
</div>
<div class="grid-container">

    <div class="grid">
        <input type="button" mat-button value="X" />
        <input type="button" mat-button value="X" />
        <input type="button" mat-button value="X" />

        <input type="button" mat-button value="X" />
        <input type="button" mat-button value="X" />
        <input type="button" mat-button value="X" />

        <input type="button" mat-button value="X" />
        <input type="button" mat-button value="X" />
        <input type="button" mat-button value="X" />

    </div>
</div>