<div id="header">
    <mat-list>
        <mat-list-item>
            {{headerContent}}
            <button style="float: right;" mat-icon-button (click)="newMatch()">
                <mat-icon>restart_alt</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</div>
<div class="grid-container">

    <div class="grid">
        <mat-card *ngFor="let item of (tableState$|async),let indx=index" style="display: flex; justify-content: center; align-content: center;">
            <button type="button"
                style="width: 100%; height: 100%; background-color: transparent; border: transparent; display: flex; justify-content: center; align-content: center;"
                (click)="onButtonClick(indx,currentPlayer)">
                <mat-icon [fontIcon]="'close'" *ngIf="item=='X'" style="width: 100%; height: 100%; font-size: 10em; padding: auto;"></mat-icon>
                <mat-icon [fontIcon]="'radio_button_unchecked'" *ngIf="item=='O'" style="width: 100%; height: 100%; font-size: 10em; padding: auto;"></mat-icon>
            </button>
        </mat-card>


        <!-- <mat-icon></mat-icon> -->
    </div>
</div>